.body{
    background-color: #fafafa;
}

.nav-top {
  
height: 63px;
background-color: white !important;
border-top: 0.5px solid #dbdbdb;
border-bottom: 1px solid #dbdbdb;

}


.nav-container {
    padding-left:25% !important;
    padding-right: 25% !important;
}


.imagemStyle img{
    
    max-width:130px ; 
    max-height: 80px; 
}

.form-control {
    border-radius: 0.15rem !important;
    padding: 0% !important;
    background-color: #fafafa !important;
    text-align: center;
    font-size: 15px;
}

.img-nav {
    border-radius: 100%;
    -o-border-radius: 100%;
    -wekbit-border-radius: 100%;
    max-width: 30px;
    max-height: 25px;
}

.icons {
    padding: 4%;
    font-size: 25px;
}